*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, #a0a0a0, #3a4452); */
    background-color: black;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    margin-top: 10px;
}

.calculator {
    padding: 20px;
    border: 1px solid #717377;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 5);
}

input{
    border: none;
    width: 320px;
    padding: 25px;
    margin: 10px;
    font-size: 40px;
    text-align: right;
    background: transparent;
}

input::placeholder{
    color: white;
}

input{
    color: white;
}

button{
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.gn-clr{
    color: green;
}

.yl-clr{
    background-color: orange;
}